<div class="container mt-5">
    <h2 class="text-center mb-4">Mis proyectos</h2>
  
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped text-center">
        <thead class="table-success">
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0000</td>
            <td>Abigail</td>
            <td>en proceso</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  